/* colors */

* {
	background-color:            #2e3440;
	text-color:                  #eceff4;
	selbg:                       #66cccc;
	actbg:                       #4c566a;
	urgbg:                       #bf616a;
	winbg:                       #66cccc;
}